{
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "overrides": [
    {
        "files": "*.html",
        "options": {
            "tabWidth": 2
        }
    }
  ]
}
