<!--
                                                             .lI.
                                   '^,::::,^'              "tkMY'
                            ^![fY0paM&8888&Map0Yf[!^      !Q0/l  `:,.
                        `_xZ#@$$$$$$$$$$$$$$$$$$$$@#Zx_`  '`  ^fZaoZ:
                      >co$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$oc>    >j}>;"
                    ~QB$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$BQ~    `rZw_
                  :YB$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$BY:  '!!l'
                 [*$$$$$$8Q|-]xmW$$$$$$$$$$$$$$Wmx]-|Q8$$$$$$*[
                t@$$$$$$qi      ,[C@$$$$$$$$@C[,      iq$$$$$$@t
               j$$$$$$$#:          c$$$$$$$$c          :#$$$$$$$j
              [@$$$$$$$0           _$$$$$$$$_           0$$$$$$$@[
             "o$$$$$$$$#:          j$$$$$$$$j          :#$$$$$$$$o"
             t$$$$$$$$$$wl       .(8$$$$$$$$8(.       lw$$$$$$$$$$t
        '"!?)k$$$$$$$$$$$&U{>Il+/p$$$$$$$$$$$$p/+lI>{U&$$$$$$$$$$$k)?!"'
    I)cJwWB#dB$$$$$$$$$$$$$$@%B$$$$$$$$$$$$$$$$$$B%@$$$$$$$$$$$$$$Bd#BWwJc)I
  <ZWC1[8$|`"W$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$W"`|$8[1CWZ<
  )BMl  ~rn\)W$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$W)\nr~  lMB)
   I/Yc/?!:;I!_}\nYCmdo#W8B@$$$$$$$$$$$$$$$$$$$$$$$$@B8W#odmCYn\}_!I;:!?/cY/I
      "!-{(/|1{?~!lI,",::;l!>+-?][}{1))(())1{}[]?-+>!l;::,",Il!~?{1|/({-!"
            .`,I!>_??]]}))}[[]????]]]??????]]]????][[}))}]]??_>!I,`.
                          .''`^"":;IIIllllIII;:""^`''.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="<%- TYWZOJ_ICON_URL _%>" >
    <title>TYWZOJ</title>
    <style>
      html, body, #root {
          padding: 0;
          margin: 0;
          width: 100%;
          height: 100%;
      }
      * {
          box-sizing: border-box;
      }
    </style>
    <script>
      window.FabricConfig = {
        fontBaseUrl: "<%- FLUENT_FONT_BASE_URL _%>" || undefined,
        iconBaseUrl: "<%- FLUENT_ICON_BASE_URL _%>" || undefined,
      };

      window.appBuildInfo = {
        clientVersion: {
          hash: "<%= APP_VERSION.hash %>",
          date: "<%= APP_VERSION.date %>",
        },
      };
    </script>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
